.header-container{
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
}
.food-logo {
    width : 100px;
}

.nav-div > ul > li {
    list-style-type: none;
    display: flex;
}
.nav-div > ul {
    
    display: flex;
    justify-content: space-around;
}
.nav-div{
    width: 300px;
}

.food-img{
    padding-left: 13px;
    width: 83%;
    height: 50%;
}

.search{
    padding: 0.5%;
    font-size: 150%;
}
.res-card{
    cursor: pointer;
    background-color: #f0f0f0;
    width: 180px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 20px;
}
.res-card:hover{
    border: 1px solid black;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.food-info{
    margin: 3%;
}